<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect/dist/css/BsMultiSelect.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/topic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect/dist/js/BsMultiSelect.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/topic.js"></script>
</head>
<body>
<a href="/"><h1>Home</h1></a>
<h2>Topic</h2>
<input type="button" class="btn btn-primary" id="addBtn" value="New topic">
<form id="addForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Topic">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input name="description" type="text" class="form-control" id="description" placeholder="Something">
    </div>
    <div class="form-group">
        <label for="nameOpt">Parent topics</label>
        <select name="nameOpt" multiple id="nameOpt" class="form-control">
            <option th:each="i : ${names.keySet()}" th:value="${i}" th:text="${names.get(i)}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-secondary" value="Submit" onclick="subFnc('topic')">
    </div>
</form>
<div id="myNetwork" class="table-responsive"></div>
<table id="itemsEditTable" class="table table-striped">
    <tr id="itemsEditTableHeader">
        <th class="idTh">ID</th>
        <th class="nameTh">Name</th>
        <th class="descTh">Description</th>
        <th class="parentsTh">Parent topics</th>
        <th class="btnTh"></th>
        <th class="btnTh"></th>
    </tr>
</table>
<form>
<table id="topicTable" class="table table-striped">
    <tr id="topicTableHeader">
        <th class="idTh">ID</th>
        <th class="nameTh">Name</th>
        <th class="descTh">Description</th>
        <th class="parentsTh">Parent topics</th>
        <th class="btnTh"></th>
        <th class="btnTh"></th>
    </tr>
    <tr>
        <th></th>
        <th><input type="text" name="name" class="form-control" id="searchName"></th>
        <th><input type="text" name="description" class="form-control" id="searchDescription"></th>
        <th> <select name="topics" multiple id="searchTopics" class="form-control">
            <option th:each="i : ${names.keySet()}" th:value="${i}" th:text="${names.get(i)}">
            </option>
        </select>
        </th>
        <th></th>
        <th><input type="submit" class="btn btn-primary" value="Search"></th>
    </tr>
    <tr th:each="topic : ${topics}">
        <td th:id="@{'idCell'+${topic.getId()}}" th:text="${topic.getId()}" class="idTh"></td>
        <td th:text="${topic.getName()}" class="nameTh"></td>
        <td th:text="${topic.getDescription()}" class="descTh"></td>
        <td th:text="${parents.get(topic.getId())}" class="parentsTh"></td>
        <td><a style="color:#0060B6; cursor:pointer" th:onclick="@{'delFnc(\'topic\','+${topic.getId()}+')'}" class="btnTh">Delete</a></td>
        <td><a style="color:#0060B6; cursor:pointer" th:onclick="@{'toggleEditMVC('+${topic.getId()}+')'}" class="btnTh">Edit</a></td>
    </tr>
</table>
</form>

</body>
</html>